@font-face {
    font-family: 'esas';
    src: url(/assets/fonts/oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: 'esas-bold';
    src: url(/assets/fonts/oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: 'esas-light';
    src: url(/assets/fonts/oswald/Oswald-Light.ttf);
}
