.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2";
    /* "item3 item3 item3"
    "item4 item4 item4"
    "item5 item5 item5"; */
}

.item1 {
  background-color: #21d4fd;
  background-image: linear-gradient(270deg, #21d4fd 0%, #b721ff 100%);

}

.item1>#navbar>.left>h1{
    color: white;
    font-family: 'esas-bold';
}
.item1>#navbar>.right>ul{
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.item1>#navbar>.right>ul>li>a{
    text-decoration: none;
    font-family: "esas-light";
    color: white;
}
.item1>#navbar>.right>ul>li{
    padding: 15px 20px;
    transition-duration: 0.25s;
}
.item1>#navbar>.right>ul>li:hover{
    background-color: rgb(160, 31, 219);
    border-radius: 35px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grid-item>#main>.main>img{
    height: 250px;
    width:250px;
    border-radius: 50%;
}
#main{
    padding: 50px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#main>.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}